<div
  class="flex flex-col bg-white rounded-md origin-top-right"
>
  <p-calendar
    class="{{this.CalendarState == 'true' ? 'flex' : 'hidden'}}"
    [(ngModel)]="date"
    [selectionMode]="this.CalendarType"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [inline]="true"
    [readonlyInput]="true"
    (onSelect)="openData($event)"
    [numberOfMonths]="2"
    #myCalendar
  >
    <ng-template pTemplate="footer">
      <div class="w-full px-4 py-4 flex flex-row items-center justify-between">
        <span class="text-black/50 text-base font-JBKlarheit">
          Flights available for sale through {{ this.maxDate?.toDateString() }}
          .</span>
        <button
          class="bg-jetBlue-500 text-white px-5 py-3 rounded-md"
          (click)="toggleCalendar($event)"
        >
          Done
        </button>
      </div>
    </ng-template>
  </p-calendar>

</div>


