<footer class="w-full px-32 py-10 bg-white grid grid-cols-4 justify-items-center gap-4 relative border-t-2 z-0">
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl text-sky-950 font-JBKlarheit font-bold">
      Get To Knows Us
    </h1>
    <ul class="flex flex-col gap-3">
      <li class="sublink">JetBlue Swag</li>
      <li class="sublink">Our Company</li>
      <li class="sublink">Our Planes</li>
      <li class="sublink">Partner Airlines</li>
      <li class="sublink">Investor Relations</li>
      <li class="sublink">Travel Agents</li>
      <li class="sublink">Sponsorships</li>
      <li class="sublink">Careers</li>
      <li class="sublink">Site Map</li>
      <li class="sublink">Contact Us</li>
    </ul>
  </div>
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl text-sky-950 font-JBKlarheit font-bold">Policies</h1>
    <ul class="flex flex-col gap-3">
      <li class="sublink">Safety</li>
      <li class="sublink">Legal</li>
      <li class="sublink">Web Accessibility</li>
      <li class="sublink">Contract of Carriage</li>
      <li class="sublink">Canada Accessibility Plan</li>
      <li class="sublink">Tarmac Delay Plan</li>
      <li class="sublink">Customer Service Plan</li>
      <li class="sublink">Privacy</li>
      <li class="sublink">Human Trafficking</li>
      <li class="sublink">Optional Services and Fees</li>
      <li class="sublink">Do not sell my info</li>
    </ul>
  </div>
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl text-sky-950 font-JBKlarheit font-bold">
      JetBlue In action
    </h1>
    <ul class="flex flex-col gap-3">
      <li class="sublink">JetBlue for Good</li>
      <li class="sublink">Sustainability</li>
      <li class="sublink">Diversity, Equity &amp; Inclusion</li>
      <li class="sublink">Military</li>
      <li class="sublink">Press Room</li>
    </ul>
  </div>
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl text-blue-950 font-JBKlarheit font-bold">
      Stay Connected
    </h1>

    <ul class="flex flex-col gap-3 w-full">
      <li
        class="text-xl text-sky-700 font-JBKlarheit font-bold tracking-wide inline-flex flex-nowrap items-center cursor-pointer">
        <img src="assets/images/mail.svg" alt="facebook" />
        Join our email list
      </li>
      <li></li>
    </ul>
  </div>
  <div class="w-full row-span-4 col-span-1">
    <div class="bg-gray-600/10 w-full h-0.5 absolute left-0 translate-y-10"></div>
  </div>
  <div class="w-full row-span-1 col-span-4 text-gray-600 font-JBKlarheit font-semibold text-center">
    Indicates link opens an external site and may not conform to the same
    accessibility policies as JetBlue.<br />
    ©2024 JetBlue Airways
  </div>
</footer>
