<div class="w-full min-h-lvh bg-gray-50">
  <!-- 1/3 image bg  -->
  <div>
    <img
      src="assets/images/Background/travelTimeBg.jpg"
      alt="airplane"
      class="w-full h-80 object-cover"
    />

    <div class="container max-w-screen-xl mx-auto">
      <div class="my-4 flex flex-col gap-5">
        <div class="flex flex-col justify-start items-center gap-5 shadow-lg">
          <!-- Card Header -->
          <div
            class="flex flex-col items-start justify-start w-full gap-5 bg-white p-10"
          >
            <h1 class="text-4xl font-bold text-jetBlue-400 font-JBKlarheit">
              Select your departing flight
            </h1>
            <!-- List of all the available date of vol with -->
            <!-- The Date and the min cost of the day -->
            <div
              class="w-full bg-gray-100 rounded-lg flex items-center justify-center gap-5 flex-row p-5"
            >
              <!-- Arrow right  -->
              <div
                class="w-10 h-10 flex items-center justify-center rounded-full cursor-pointer"
              >
                <mat-icon svgIcon="ArrowL" />
              </div>
              <!-- End Arrow right  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer border border-transparent hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Date Cost  -->
              <div
                class="w-full max-w-40 cursor-pointer hover:rounded-lg hover:border hover:border-jetBlue-500 transition-all ease-in-out"
              >
                <div class="w-full text-center">
                  <p
                    class="text-lg font-normal text-jetBlue-400 font-JBKlarheit"
                  >
                    Wed May 22
                  </p>
                  <p class="text-lg font-bold text-jetBlue-400 font-JBKlarheit">
                    $ 200
                  </p>
                </div>
              </div>
              <!-- End Date Cost  -->
              <!-- Arrow right  -->
              <div
                class="w-10 h-10 flex items-center justify-center rounded-full cursor-pointer"
              >
                <mat-icon svgIcon="ArrowR" />
              </div>
              <!-- End Arrow right  -->
            </div>
            <div>
              <span
                class="capitalize text-xl underline text-jetBlue-400 font-JBKlarheit font-semibold cursor-pointer"
                >Sort & filter</span
              >
            </div>
            <!-- End Card -->
          </div>
          <!-- End Card Header -->
        </div>

        <!-- This for card of ticket  -->
        <!-- START To add pagination into the flight search -->
        <!-- <p-dataView [rows]="5" [paginator]="true"> -->
        <!-- </p-dataView> -->
        <!-- END To add pagination into the flight search -->
        <app-ticket  />
        <app-ticket />
        <app-ticket />
        <app-ticket />
        <app-ticket />
      </div>
    </div>
  </div>
</div>
